@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div>
    <h1 class="headline">Välkommen</h1>
    <p class="text-container">
        Här lär jag mig grunderna i ASP.NET Core i kursen som heter ASP.NET med C#. Vill ni veta mer om mig som utvecklare så finns det information på Om sidan. På Razir sidan hittar ni resultatet av min träning på Razor syntax. Den här kursen slutar den 21 Mars 2021, så här länge är det kvar tills dess:
    </p>
    <br />
    <!-- Utskrift av JavaScript timer -->
    <p id="timer"></p>
</div>
