@page
@model moment1.Pages.Om_sidanModel
@{
    ViewData["Title"] = "Om sidan";
}

<div>
    <h1 class="headline">Om sidan</h1>
    <p class="text-container">
        Jag som skapat sidan heter Moa Hjemdahl och är en blivande webbutvecklare som brinner extra för design, bild och film.
        Jag hjälper dig med andra ord mer än gärna med hela paketet till din blivande webbplats.
        Just nu befinner jag mig mitt i utbildningen Webbutveckling på Mittuniversitetet.
        <br>
        <br>
        Mig hittar du i Norrbotten, Piteå närmare bestämt. En bit bort från det mesta men världen är liten idag tack vare internet.
        Kontakta mig gärna på mailen som du hittar längst ner på sidan!
    </p>
</div>
