* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    background-color: #fafafa;
    color: #2b2b2b;
    margin-bottom: 30px;
}
/* Header styles
-------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    color: pink;
}
/* Middle container styles
-------------------------------------------------- */

.middle-container {
    display: flex;
    flex-direction: row;
    padding: 50px 10%;
}
main {
    padding-left: 15%;
}
/* Navigation */
nav {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    min-width: 100px;
}
.nav-ul {
    list-style: none;
    line-height: 30px;
}
.nav-link {
    text-decoration: none;
    color: #2b2b2b;
}
.nav-link:hover {
    opacity: 0.5;
}
/* Index & Om sidan */
.headline {
    margin-bottom: 15px;
    font-size: 2.2em;
}
.text-container {
    max-width: 700px;
}
/* Razor */
h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.courses-ul {
    margin-left: 18px;
    margin-bottom: 60px;
    line-height: 25px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 70px;
    padding-left: 10%;
}
.mail-link{
    text-decoration: none;
    color: mediumpurple;
}
.mail-link:hover {
    opacity: 0.5;
}
/* Media querys
-------------------------------------------------- */
@media (max-width: 768px) {
    header{
        flex-direction: column;
    }
    .logo {
        margin-bottom: 15px;
    }
    .middle-container {
        flex-direction: column;
        align-items: center;
        padding: 0px 10%;
    }
    nav {
        margin-bottom: 50px;
    }
    .nav-ul {
        text-align: center;
    }
    main {
        padding-left: 0;
    }
    footer {
        text-align: center;
        padding-left: 0;
    }
}